<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="Password=<管理者密碼>;Persist Security Info=True;User ID=<管理者帳號>;Initial Catalog={0};Data Source=<DB主機名稱/位址>" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>